<!DOCTYPE html>
<html lang="en">
  

<body>
<h2>  <%= object.title %> </h2>
<p>    <%= object.summary %>  </p>
<p>    <%= object.body %>  </p>

<button class="create" data-linkid = "<%= object._id %>" >delete</button>

<script>
    const btnelement=document.querySelector(".create")
    const articleId=btnelement.getAttribute("data-linkid");  
  
    // what is data ?
    // { mylink: "/all-articles" }
  
  
    btnelement.addEventListener("click", (eo)=> {
  
    fetch(` /nn/${articleId}` , { method: "DELETE" } )
    .then((response)=> response.json())
    .then((data)=> window.location.href=data.mylink)
    
    .catch((err)=> {
    console.log(err);
    } );
  
    } )
  </script>

</body>
</html>